:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 150px;
}

mat-card-title, mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: end;
}

.logo {
  max-height: 50px;
}
